/*Styling*/
.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}
.column2 {
  flex: 25%;
  padding: 5px;
}
/*End Styling*/

/*Connection */
#host{
width: 250px;
}
/*End Connection */

/*Video Camera*/
#video{
  width: 100%;
  height: 100%;
}

.camera{
  background: #ccc;
  border: 5px solid #4285F4;
  height: 350px;
}
/*End Video Camera*/

/*Map*/
#mapid{
    height: 90%;
    width: 100%;
}

.map{
  border: 5px solid #0F9D58;
  height: 350px;
}
#latlng{
  width: 400px;
}
/*End Map*/

/*Information log*/
.information{
  border: 5px solid #F4B400;
  height: 395px;
}

#log{
  float: left;
  width:40%;
  height:392px;
  overflow-y:scroll;
  border:2px solid #2E8B57; 
}


#orientation{
  width: 300px;
}

#roverGPS{
  width: 300px;
}

#destinationGPS{
  width: 250px;
}

#speed{
  width: 300px;
}

#distance{
  width: 300px;
}
/*End Information log */

/*Control*/
.control{
  border: 5px solid #DB4437;
  height: 395px;
}

#currentstatus{
  color: #4285F4;
}

#commands{
  width: 99.5%;
  height: 280px;
  overflow-y:scroll;
  border:2px solid #2E8B57; 
}
/*End Control*/


.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

.switch input {display:none;}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }